@charset "UTF-8";
/* -----------------------------------
全体設定------------------------------- */
body {
  font-family: "Yu Gothic", "æ¸¸ã‚´ã‚·ãƒƒã‚¯", YuGothic, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  background-color: #fff;
}
body a {
  text-decoration: none;
}

ul {
  display: flex;
  margin: 0;
}
ul li {
  list-style-type: none;
}

/* -------------------------------------
基本------------------------------------ */
header {
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  grid-template-rows: 1fr;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  z-index: 1000;
}
header p {
  display: none;
}
header h1 {
  width: 300px;
  margin: 0;
  margin-bottom: -200px;
  padding: 15px;
  grid-column: 1;
  grid-row: 1;
}
header .main_nav {
  grid-column: 2 / 5;
  grid-row: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  border: 1px solid #000;
}
header .main_nav ul {
  padding: 20px 10px;
}
header .main_nav ul li {
  height: 100%;
}
header .main_nav ul li a {
  padding: 10px;
}
header .main_nav ul li i {
  font-size: 1.5em;
}

@media screen and (max-width: 480px) {
  header {
    height: 70px;
  }
  header h1 {
    width: 200px;
  }
  header ul li a {
    display: none;
  }
  header p {
    display: block;
  }
}
footer {
  margin-top: 200px;
  height: 500px;
  background-color: #303;
  color: #fff;
}

/* -------------------------------------
HOME------------------------------------ */
.home #hero {
  background-image: url(../images/top_hero1.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 700px;
  clear: both;
  top: 0;
}
.home #hero p {
  font-family: "游明朝",YuMincho,Meiryo,"Hiragino Mincho ProN",serif;
  width: 70%;
  font-weight: bold;
  color: #000;
  text-shadow: 0px 0px 30px yellow;
  padding: 0 50px;
  display: inline-block;
  position: relative;
  top: 500px;
  left: 300px;
}

.des {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr 3fr;
  grid-template-rows: 1fr 2fr 10fr;
  margin-top: 100px;
  border: 1px solid #ddd;
}
.des h2 {
  padding: 10px 30px;
  margin: 0;
  clear: both;
  grid-column: 1 / 3;
  grid-row: 2;
  z-index: 5;
  color: #fff;
  background-color: #303;
}
.des img {
  grid-column: 1 / 3;
  grid-row: 3 / -1;
}
.des .content {
  grid-column: 2 / -1;
  grid-row: 1 / 4;
  padding: 50px 150px;
  background-color: rgba(240, 240, 240, 0.9);
}
.des .content h3 {
  text-align: center;
}
.des .content p {
  margin-top: 60px;
}

.concept {
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 11fr;
  background-image: url(../images/consept1.jpg);
  background-position: right top;
  border: 1px solid #ddd;
}
.concept h2 {
  padding: 10px 30px;
  margin: 0;
  clear: both;
  grid-column: 3;
  grid-row: 1 / 3;
  z-index: 5;
  color: #fff;
  background-color: #303;
}
.concept .content {
  grid-column: 2 / -2;
  grid-row: 2 / 4;
  padding: 50px 150px;
  background-color: rgba(240, 240, 240, 0.9);
}
.concept .content h3 {
  text-align: center;
  clear: both;
  margin-top: 60px;
}
.concept .content p {
  margin-top: 60px;
}

.bunner {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 1120px;
}
.bunner .bun {
  padding: 30px;
  border: 1px solid #ddd;
}
.bunner .bun h2, .bunner .bun p {
  text-align: center;
  font-weight: bold;
  color: #000;
  text-shadow: 0px 10px 20px white, 0px -10px 20px white;
}

.bun:nth-child(1) {
  background-image: url(../images/about_top.jpg);
}
.bun:nth-child(1):hover {
  background-image: url(../images/about_top_h.jpg);
}

.bun:nth-child(2) {
  background-image: url(../images/collection_top.jpg);
}
.bun:nth-child(2):hover {
  background-image: url(../images/collection_top_h.jpg);
}

.bun:nth-child(3) {
  background-image: url(../images/blog_top.jpg);
}
.bun:nth-child(3):hover {
  background-image: url(../images/blog_top_h.jpg);
}

.bun:nth-child(4) {
  background-image: url(../images/contact_top.jpg);
}
.bun:nth-child(4):hover {
  background-image: url(../images/contact_top_h.jpg);
}

/* -------------------------------------
基本------------------------------------ */

/*# sourceMappingURL=style.css.map */
