@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Charmonman:700');
@import url("https://fonts.googleapis.com/css?family=Sawarabi+Mincho");

$m_color: #303;
$color: #fofofo;

/* -----------------------------------
全体設定------------------------------- */
body {
    font-family: 'Charmonman', cursive, "Yu Gothic", "æ¸¸ã‚´ã‚·ãƒƒã‚¯", YuGothic, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", sans-serif;
    font-size: 16px;
    line-height: 1.8;
    margin: 0;
    background-color: #fff;
    a {
    text-decoration: none;
    }
}

ul {
    display: flex;
    margin: 0;
    li{
        list-style-type: none;
    }
}

/* -------------------------------------
基本------------------------------------ */
header {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    grid-template-rows: 1fr;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    z-index: 500;
h1 {
    width: 300px;
    margin: 0;
    margin-bottom: -200px;
    padding: 15px;
    grid-column: 1;
    grid-row: 1;
    }
}

.nav-drawer {
    display: none;
}

.main_nav {
    grid-column: 2 / 5;
    grid-row: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    height: 100px;
    ul {
        padding: 0;
        li {
            width: 100px;
            height: 100px;
            text-align: center;
            a {
                padding: 35px 10px 10px 10px;
                display: block;
                width: 100%;
                height: 100%;
            }
            a:hover {
                background-color: rgba(255, 255, 255, 0.9);
            }
            i {
                font-size: 1.5em;
                display: block;
                display: none;
            }
        }
    }
}

footer {
    margin-top: 150px;
    height: 400px;
    background-color: $m_color;
    color: #fff;
    position: relative;
    .fot_logo {
        position: absolute;
        height: 350px;
        top: -100px;
        left: 0;
        right: 0;
        bottom: 0;
        p {
            font-family: "Sawarabi Mincho","游明朝",YuMincho,Meiryo,"Hiragino Mincho ProN",serif;
            text-align: center;
            font-weight: bold;
            color: #fff;
            margin-bottom: 25px;
        }
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .fot_text {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding-top: 20px;
        background-color: rgba(255, 255, 255, 0.3);
        ul {
            margin: 0 auto;
            max-width: 780px;
            li {
                margin: 0 auto;
                a {
                font-size: 0.8em;
                color: #000;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

footer:before {
    content: "";
    position: absolute;
    right: 0;
    top: -90px;
    left: 0;
    width: 0px;
    height: 0px;
    margin: auto;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 90px solid $m_color;
}

.wrap {
    max-width: 1080px;
    min-width: 680px;
    margin: 0 auto;
}

/* -------------------------------------
HOME------------------------------------ */
#home #hero {
    background-image: url(../images/top_hero1.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 800px;
    clear: both;
    top: 0;
    p {
        font-family: "Sawarabi Mincho","游明朝",YuMincho,Meiryo,"Hiragino Mincho ProN",serif;
        font-size: 1.2em;
        color: #fff;
        text-shadow: 0px 2px 5px #000,
                    0px -2px 5px #000;
        padding: 150px 0 0 250px;
        margin: 0;
        text-align: center;
        span {
            font-size: 1em;

        }
    }
}

.des {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr 3fr;
    grid-template-rows: 1fr 2fr 10fr;
    margin-top: 100px;
    h2 {
        font-size: 2.2em;
        padding: 15px 0 0 40px;
        margin: 0;
        clear: both;
        grid-column: 1 / 3;
        grid-row: 2;
        z-index: 5;
color: #fff;
        background-color: $m_color;
    }
    img {
        grid-column: 1 / 3;
        grid-row: 3 / -1;
    }
    .content {
        font-family: "Sawarabi Mincho","游明朝",YuMincho,Meiryo,"Hiragino Mincho ProN",serif;
        grid-column: 2 / -1;
        grid-row: 1 / 4;
        padding: 50px 150px;
border: 1px solid #ddd;
background-color: rgba(240, 240, 240, 0.9);
        h3 {
            font-size: 1.2em;
            text-align: center;
        }
        p  {
            margin-top: 60px;
        }
    }
}

.concept {
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 11fr;
    background-image: url(../images/consept1.jpg);
    background-position: right top;
        h2 {
        font-size: 2.2em;
        text-align: center;
        padding-top: 35px;
        margin: 0;
        clear: both;
        grid-column: 3;
        grid-row: 1 / 3;
        z-index: 5;
color: #fff;
        background-color: $m_color;
            }
        .content {
        font-family: "Sawarabi Mincho","游明朝",YuMincho,Meiryo,"Hiragino Mincho ProN",serif;
        grid-column: 2 / -2;
        grid-row: 2 / 4;
        padding: 50px 150px;
border: 1px solid #ddd;
background-color: rgba(240, 240, 240, 0.9);
        h3 {
            font-size: 1.2em;
            text-align: center;
            clear: both;
            margin-top: 60px;
        }
        p {
            margin-top: 60px;
        }
    }
}

.bunner {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1120px;
    .bun {
        padding: 30px;
        border: 1px solid #ddd;
        h2, p {
            text-align: center;
            font-weight: bold;
            color: #000;
            text-shadow: 0px 1px 1px #fff,
                        0px -1px 1px #fff;
        }
        p {
            font-family: "Sawarabi Mincho","游明朝",YuMincho,Meiryo,"Hiragino Mincho ProN",serif;
        }
    }
}

.bun:nth-child(1) {
    background-image: url(../images/about_top.jpg);
    &:hover {
        background-image: url(../images/about_top_h.jpg);
    }
}
.bun:nth-child(2) {
    background-image: url(../images/collection_top.jpg);
    &:hover {
        background-image: url(../images/collection_top_h.jpg);
    }
}
.bun:nth-child(3) {
    background-image: url(../images/blog_top.jpg);
    &:hover {
        background-image: url(../images/blog_top_h.jpg);
    }
}
.bun:nth-child(4) {
    background-image: url(../images/contact_top.jpg);
    &:hover {
        background-image: url(../images/contact_top_h.jpg);
    }
}

// スクロールするとふわっと現れる文字
.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}
/* -------------------------------------
ABOUT ------------------------------------ */
#about {
    background-image: url(../images/about_hero.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
    clear: both;
    top: 0;
}

.plofile {
    margin:350px auto 100px auto;
    background-color: rgba(255, 255, 255, 0.7);
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 8fr;
    border: 1px solid #ddd;
    h2 {
        font-size: 2.5em;
        margin: auto 0;
        grid-column: 2 / -2;
        grid-row: 1;
        z-index: 5;
        text-align: center;
    }
    img {
        grid-column: 1 / 4;
        grid-row: 2 / -1;
        z-index: 5;
    }
    .content {
        grid-column: 4 / -1;
        grid-row: 2 / -1;
        z-index: 5;
        padding: 0 40px 30px 20px;
        h3 {
            font-size: 1.5em;
            text-align: center;
        }
        p.center {
            text-align: center;
            padding-bottom: 30px;
            font-weight: bold;
        }
    }
}

.picky {
    margin: 0 auto;
    padding: 10px 50px 50px 50px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 90%;
    text-align: center;
    border: 1px solid #ddd;
    h2 {
        font-size: 2.5em;
        margin: 0;
    }
    .content {
        margin: 50px;
    }
}

/* -------------------------------------
COLLECTION------------------------------------ */
#collection {
    background-image: url(../images/collection_hero.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
    clear: both;
    top: 0;
}

.i_content {
    margin: 350px auto 0 auto;
    width: 90%;
    h2 {
        text-align: center;
        margin: 0;
        padding: 50px 0 20px 0;
        font-size: 2.5em;
        line-height: 0.5em;
        span {
            font-size: 0.8rem;
        }
    }
}

.items {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ddd;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-content: center;
    padding: 10px;
    .item {
        border: 1px solid #ddd;
        h3 {
            font-family: "Sawarabi Mincho","游明朝",YuMincho,Meiryo,"Hiragino Mincho ProN",serif;
            text-shadow: 0px 1px 1px $color,
                        0px -1px 1px $color;
            text-align: center;
            margin-bottom: 0;
        }
        img {
            width: 90%;
            margin: 5px;
        }
        h4 {
            text-align: center;
            margin: 10px 0;
        }
    }
    .item:hover {
        background-color: rgba(255, 255, 255, 1);
    }
}

.selling {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ddd;
    margin-top: 50px;
    h2 {
        padding-top: 50px;
        line-height: 0.9em;
        text-align: center;
    }
    .content {
        text-align: center;
        padding-bottom: 50px;
    }
}

/* -------------------------------------
SINGLE------------------------------------ */
.single_item {
    width: 90%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ddd;
        h3 {
            font-family: "Sawarabi Mincho","游明朝",YuMincho,Meiryo,"Hiragino Mincho ProN",serif;
            text-shadow: 0px 1px 1px $color,
                        0px -1px 1px $color;
            text-align: center;
            margin-bottom: 0;
        }
        img {
            width: 100%;
            float: left;
        }
        h4 {
            text-align: center;
            margin: 10px 0;
        }
        p {
            text-align: center;
            margin: 10px 0;
        }
}

/* -------------------------------------
CONTACT------------------------------------ */
#contact {
    background-image: url(../images/contact_hero.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
    clear: both;
    top: 0;
}

.contact_des {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 350px auto 0 auto;
    width: 90%;
    border: 1px solid #ddd;
    h2 {
        text-align: center;
        margin: 0;
        padding: 50px 0 20px 0;
        font-size: 2.5em;
        line-height: 0.5em;
        span {
            font-size: 0.8rem;
        }
    }
}

.input {
    text-align: center;
    font-weight: bold;
    p {
        margin-top: 50px;
    }
    [type="text"] {
        width: 40%;
    }
    [type="email"] {
        width: 50%;
    }
    textarea {
        width: 90%;
        height: 300px;
    }
    [type="submit"] {
        margin-bottom: 40px;
        padding: 0 15px;
    }
    span {
        font-size: 0.8rem;
    }
}