@charset "utf-8";


// 基本設定
body {
    background-color: pink;
    font-family: "Yu Gothic", "æ¸¸ã‚´ã‚·ãƒƒã‚¯", YuGothic, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", sans-serif;
    background-color: #fff;
    a {
    text-decoration: none;
    }
    ul{
    list-style-type: none;
    }
}


